/* el * aplica las propiedades a todo el body */
/* display-flex debe ser aplicado en el contenedor padre */
/* flex-flox es el comportamiento de los contenedores - column o flex -  */
/* Wrap (utiliza el 100% del contenedor) o NoWrap (respeta las mediciones de otros contenedores)  */


*{
    margin: 0px;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 50px;
}
    .header{
        background: url(../imagenes/Lightning.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;

    }
        .menu{
            /* background-color: #256D85; */
            background: rgba(237, 236, 236, 0.1);
            display: flex;
            flex-flow: row nowrap;
            height: 70px;
            align-items: center;
            border-bottom: 2px solid rgba(241, 238, 238,.5);
            margin-bottom: 5px;

        }

            /* .enlace{
                color: #DFF6FF;
                text-decoration: none;
            } */


            .logo{
                /* background-color: #DFF6FF; */
                flex: 1 1 auto;  
            }

                .logo a{
                    color: #d7d8cd;
                    font-size: 30px;
                    font-weight:600;
                }

                .logo a:hover{
                    color: rgb(194, 121, 33);
                }

            .nav{
                /* background-color: #DFF6FF; */
                flex: 5 1 auto;
                
            }
                .nav a{
                    color: #d7d8cd;
                    font-size: 15px;
                    font-weight:400;
                    text-transform: uppercase;
                    padding: 0 5px;
                    letter-spacing: 2px;
                    
                }

                .nav a:hover{
                    color: rgb(194, 121, 33);
                }

            .social{
                /* background-color: #DFF6FF; */
                flex: 1 1 auto;
                display: flex;
            }
                .social a{
                    color: #d7d8cd;
                    font-size: 20px;
                    padding: 0 0px;
                }
                .social a:hover{
                    color: rgb(194, 121, 33);
                }

            .texto-ppal{
                height: 400px;
                display: flex;
                align-items: center;  

            }
                .texto-ppal h1{
                    color: #e39922;
                    font-size: 21px;
                    font-weight:600;
                    text-align: center;
                    line-height: 1.6;
                }

    .section{
        background-color: #bfc0b5;
        display: flex;
    }
        .articulos{
            background-color: #bfc0b5;
            flex: 2 1 auto ;
            display: flex;
            flex-flow: row wrap;         
        }
        .articulo{
            flex: 1 1 40%;
            color: #000000;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 10px 10px 0 0px;
            background-color: rgb(196, 208, 223.5);  
        }
            .articulo img{
               width: 100%; 
            }
            .articulo a{
                color: #D2D79F;
                font-size: 13px;
                padding: 10px;
                background-color: #000000;
                margin: 10px 0;
                text-decoration: none;
                display: inline-block;
            }
            .articulo a:hover{
                background: #42855B;
            }
        h3{
            color: #d7d8cd;
            font-size: 13px;
            padding: 10px 0;
            margin-top: -80px;
        }
        h2{
            font-size: 25px;
            text-transform: uppercase;
            padding: 0px 0 10px 0;
            color: #d7d8cd;
        }
            .navegador{
            background-color: black;
            flex: 1 1 100%;
            margin: 10px 10px 0 0px;
        }
                .navegador a{
                    color: #bfc0b5;
                }    
        .aside{
            /* background-color: #4C6793; */
            flex: 1 1 auto;
            margin: 10px 5px 10px 0px;
        }
            aside h4{
                background: #000000;
                text-transform: uppercase;
                color: #bfc0b5;
                margin-bottom: 1px;

            }
            .aside img{
                width: 100%; 
            }

            .publicidad{
                border-bottom: 2px solid rgba(241, 238, 238,.5);
                /* background-color: #42855B; */
            }
    .footer{
        background-color: black;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
        .footer a{
            color: #bfc0b5;
            text-transform: uppercase;
            
        }
        .pie{
            /* background-color: #D2D79F; */
            width: 300px;
            }
@media all and (max-width: 800px){
        .section{
            flex-direction: column;
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
        .aside{
            display: flex;
            justify-content: center;
        }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }

}